/* 全局样式 */
/* 字体图标 */
@import './iconfont';
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

.app-nav-bar {
  background-color: #3296fa;
  .van-nav-bar__title {
    color: #fff;
  }
  .van-icon {
    color: #fff;
  }
}

.my-userinfo {
  .base-info {
    background-color: #3296fa;
  }
  .user-info {
    .van-grid-item {
      background-color: #3296fa;
    }
    .van-grid-item__content {
      background-color: #3296fa;
    }
  }
}
